# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. Fla´vio Martins

### Grupo 18
<dl>
    <dt>20 horas (50.0%)</dt>
    <dd>ist100032 Mateus Spencer</dd>
    <dt>20 horas (50.0%)</dt>
    <dd>ist100070 Ricardo Espadinha</dd>
    <dt>0 horas (0.0%)</dt>
    <dd>ist103763 Diogo Pereira</dd>
<dl>

In [87]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [88]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

*  postgresql://db:***@postgres/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [92]:
%%sql

INSERT INTO employee (ssn, TIN, bdate, name)
VALUES ('SSN001', 'TIN001', '1990-05-15', 'Employee A'),
       ('SSN002', 'TIN002', '1985-08-20', 'Employee B'),
       ('SSN003', 'TIN003', '1992-02-10', 'Employee C'),
       ('SSN004', 'TIN004', '1987-07-25', 'Employee D'),
       ('SSN005', 'TIN005', '1993-12-05', 'Employee E');

START TRANSACTION;

INSERT INTO customer (cust_no, name, email, phone, address)
VALUES (1, 'Cliente A', 'clienteA@example.com', '123456789', '1000-008 Lisboa'),
       (2, 'Cliente B', 'clienteB@example.com', '987654321', '4000-053 Porto'),
       (3, 'Cliente C', 'clienteC@example.com', '456789123', '3000-030 Coimbra'),
       (4, 'Cliente D', 'clienteD@example.com', '987654321', '8000-073 Faro'),
       (5, 'Cliente E', 'clienteE@example.com', '123456789', '4700-024 Braga');
       
INSERT INTO orders (order_no, cust_no, date)
VALUES (1, 1, '2022-01-10'),
       (2, 1, '2022-02-15'),
       (3, 2, '2022-01-05'),
       (4, 3, '2022-03-20'),
       (5, 3, '2022-04-12'),
       (6, 4, '2022-01-10'),
       (7, 4, '2022-02-15'),
       (8, 5, '2022-01-05'),
       (9, 5, '2022-03-20'),
       (10, 5, '2022-04-12');

INSERT INTO pay (order_no, cust_no)
VALUES (1, 1),
       (2, 1),
       (3, 2),
       (4, 3),
       (5, 3);

INSERT INTO process (ssn, order_no)
VALUES ('SSN001', 1),
       ('SSN001', 2),
       ('SSN002', 2),
       ('SSN002', 3),
       ('SSN003', 4),
       ('SSN003', 5),
       ('SSN005', 1),
       ('SSN005', 2),
       ('SSN005', 3),
       ('SSN005', 4),
       ('SSN005', 5);
       --Problem dois employyes processarem a mesma oorder?

INSERT INTO product (SKU, name, description, price, ean)
VALUES ('SKU001', 'Produto 1', 'Descrição do Produto 1', 10.99, 1234567890123),
       ('SKU002', 'Produto 2', 'Descrição do Produto 2', 19.99, 9876543210987),
       ('SKU003', 'Produto 3', 'Descrição do Produto 3', 5.99, 5678901234567);

INSERT INTO contains (order_no, SKU, qty)
VALUES (1, 'SKU001', 2),
       (1, 'SKU002', 1),
       (2, 'SKU003', 3),
       (2, 'SKU001', 1),
       (2, 'SKU002', 2),
       (3, 'SKU001', 5),
       (3, 'SKU002', 3),
       (3, 'SKU003', 6),
       (4, 'SKU003', 4),
       (4, 'SKU001', 3),
       (4, 'SKU002', 2),
       (5, 'SKU001', 2),
       (5, 'SKU002', 1),
       (5, 'SKU003', 2),
       (6, 'SKU003', 1),
       (7, 'SKU003', 1),
       (8, 'SKU003', 1),
       (9, 'SKU003', 1),
       (10, 'SKU003', 1);
       
INSERT INTO workplace (address, lat, long)
VALUES
  ('1000-048 Lisboa', 40.123456, -74.123456),
  ('4000-033 Porto', 40.654321, -74.654321),
  ('4700-012 Braga', 40.987654, -74.987654);

-- Inserting sample data into the office table
INSERT INTO office (address)
VALUES
  ('4000-033 Porto'),
  ('1000-048 Lisboa');

-- Inserting sample data into the warehouse table
INSERT INTO warehouse (address)
VALUES
  ('4700-012 Braga');
  
COMMIT;

*  postgresql://db:***@postgres/db
5 rows affected.
Done.
5 rows affected.
10 rows affected.
5 rows affected.
11 rows affected.
3 rows affected.
19 rows affected.
3 rows affected.
2 rows affected.
1 rows affected.
Done.

[]

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [89]:
%%sql
-- (RI-1)
ALTER TABLE employee
ADD CHECK (employee.bdate < (CURRENT_TIMESTAMP - INTERVAL '18 years'));

*  postgresql://db:***@postgres/db
Done.

[]

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [90]:
%%sql
-- (RI-2)
DROP TRIGGER IF EXISTS check_workplace_type_trigger ON workplace;

CREATE OR REPLACE FUNCTION check_workplace_type()
RETURNS TRIGGER AS $$
BEGIN
  -- Verifica se o address já existe na tabela Office
  IF EXISTS (SELECT 1 FROM office WHERE address = NEW.address) THEN
    -- Verifica se o address também existe na tabela Warehouse
    IF EXISTS (SELECT 1 FROM warehouse WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'O Workplace não pode ser tanto um Office quanto um Warehouse.';
    END IF;
  ELSE
    -- Verifica se o address não existe na tabela Warehouse
    IF NOT EXISTS (SELECT 1 FROM warehouse WHERE address = NEW.address) THEN
      RAISE EXCEPTION 'O Workplace deve ser um Office ou um Warehouse.';
    END IF;
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_workplace_type_trigger
AFTER INSERT OR UPDATE ON workplace
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_workplace_type();

*  postgresql://db:***@postgres/db
Done.
Done.
Done.

[]

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [91]:
%%sql
-- (RI-3)
DROP TRIGGER IF EXISTS check_contains_order_trigger ON orders;

CREATE OR REPLACE FUNCTION check_contains_order()
RETURNS TRIGGER AS $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM contains WHERE order_no = NEW.order_no) THEN
    RAISE EXCEPTION 'Uma Order tem de estar obrigatoriamente em Contain.';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_contains_order_trigger
AFTER INSERT OR UPDATE ON orders
DEFERRABLE INITIALLY DEFERRED
FOR EACH ROW
EXECUTE FUNCTION check_contains_order();

*  postgresql://db:***@postgres/db
Done.
Done.
Done.

[]

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [93]:
%%sql
SELECT c.cust_no, c.name
FROM customer AS c
JOIN pay AS p ON c.cust_no = p.cust_no
JOIN orders AS o ON p.order_no = o.order_no
JOIN contains AS ct ON o.order_no = ct.order_no
JOIN product AS pd ON ct.SKU = pd.SKU
GROUP BY c.cust_no, c.name
HAVING SUM(ct.qty * pd.price) >= ALL(
    SELECT SUM(ct.qty * pd.price)
    FROM customer AS cust
        JOIN pay AS pay ON cust.cust_no = pay.cust_no
        JOIN orders AS ord ON pay.order_no = ord.order_no
        JOIN contains AS ct ON ord.order_no = ct.order_no
        JOIN product AS pd ON ct.SKU = pd.SKU
    GROUP BY cust.cust_no, cust.name
    );

*  postgresql://db:***@postgres/db
2 rows affected.

[(2, 'Cliente B'), (3, 'Cliente C')]

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [94]:
%%sql
SELECT employee.name
FROM employee
JOIN process ON employee.ssn = process.ssn
JOIN orders ON process.order_no = orders.order_no
WHERE date_part('year', orders.date) = 2022
GROUP BY employee.ssn
HAVING COUNT(DISTINCT orders.date) = (
    SELECT COUNT(DISTINCT orders.date)
    FROM orders
    WHERE date_part('year', orders.date) = 2022
);

*  postgresql://db:***@postgres/db
1 rows affected.

[('Employee E',)]

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [95]:
%%sql
SELECT months.month, COALESCE(num_orders, 0) AS num_orders
FROM (
  SELECT EXTRACT(MONTH FROM generate_series('2022-01-01'::date, '2022-12-31'::date, '1 month')) AS month
) AS months
LEFT JOIN (
  SELECT EXTRACT(MONTH FROM o.date) AS month, COUNT(*) AS num_orders
  FROM orders o
  WHERE o.date >= '2022-01-01' AND o.date <= '2022-12-31'
  AND o.order_no NOT IN (SELECT order_no FROM pay)
  GROUP BY EXTRACT(MONTH FROM o.date)
) AS unpaid_orders ON months.month = unpaid_orders.month
ORDER BY months.month;

*  postgresql://db:***@postgres/db
12 rows affected.

[(Decimal('1'), 2),
 (Decimal('2'), 1),
 (Decimal('3'), 1),
 (Decimal('4'), 1),
 (Decimal('5'), 0),
 (Decimal('6'), 0),
 (Decimal('7'), 0),
 (Decimal('8'), 0),
 (Decimal('9'), 0),
 (Decimal('10'), 0),
 (Decimal('11'), 0),
 (Decimal('12'), 0)]

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [96]:
%%sql
DROP TABLE IF EXISTS date CASCADE;
CREATE TABLE date (
    date DATE PRIMARY KEY
);

INSERT INTO date (date)
SELECT generate_series('2022-01-01'::date, '2022-12-31'::date, '1 day');

CREATE VIEW product_sales AS
SELECT c.SKU, c.order_no, c.qty, (c.qty * p.price) AS total_price,
       EXTRACT(YEAR FROM d.date) AS year,
       EXTRACT(MONTH FROM d.date) AS month,
       EXTRACT(DAY FROM d.date) AS day_of_month,
       EXTRACT(DOW FROM d.date) AS day_of_week,
       SUBSTRING(cust.address, '[0-9]{4}-[0-9]{3}\s+(.*)$') AS city
FROM date d
LEFT JOIN orders o ON d.date = o.date
LEFT JOIN contains c ON o.order_no = c.order_no
LEFT JOIN pay pa ON c.order_no = pa.order_no
LEFT JOIN product p ON c.SKU = p.SKU
LEFT JOIN customer cust ON o.cust_no = cust.cust_no
WHERE EXTRACT(YEAR FROM d.date) = 2022;

*  postgresql://db:***@postgres/db
Done.
Done.
365 rows affected.
Done.

[]

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

http://web2.tecnico.ulisboa.pt/~ist1100032/web/app.cgi/

A Nossa applicação web está organizada em 4 páginas principais.
Customers: permite adicionar e remover clientes da base de dados
Suppliers: permite adicionar e remover fornecedores da base de dados
Orders: permite criar uma nova Encomenda (é apenas adicionado um dos produtos), pagar encomendas e adicionar mais produtos a uma encomenda
Products: permite adicionar e remover produtos (ao remover produtos também são Removidos das Orders) e editar o seu preço e descrição.

Na nossa aplicação web utilisamos o framework flask para servir de intermediário entre a front-end e as paginas HTML e  a back-end de acesso à base de dados.

O ficheiro app.cgi contem a lógica principal da aplicação para os acessos à base de dados postgres através do psycopg, que depois apresenta essa informação enviando os dados para os ficheiros HTML que com a ajuda do jinja apresentam a informação das páginans dos sites.

Estes ficheiros HTML contém também os métodos necessários para transmitir a informação submetida pelo utilizador à app.cgi através de requests. Estes requests são extraidos nas funções da app.cgi e então passados para os comandos SQL que serão executados pelo psycopg, tomando o cuidado de proteger contra SQL injections.

As páginas de HTML estão todas presentes a pasta templates que é acedida pelo jinja para as referenciar.
Todas elas herdam o a estrutura base do base.HTML sendo que depois completam a página a secção de content.
a pasta static contém o ficheiro styles.css que é usado pelo HTML para uma melhor formatação dos elementos da página.

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [99]:
%%sql
SELECT 
    SKU, city, year, month, day_of_month, day_of_week,
    COALESCE(SUM(qty),0) AS total_qty,
    COALESCE(SUM(total_price),0) AS total_sales
FROM 
    product_sales
WHERE 
    year = 2022
GROUP BY 
    SKU, year, month, day_of_month, day_of_week, city
ORDER BY 
    SKU, city, year, month, day_of_month, day_of_week;

*  postgresql://db:***@postgres/db
379 rows affected.

[('SKU001', 'Coimbra', Decimal('2022'), Decimal('3'), Decimal('20'), Decimal('0'), 3, Decimal('32.97')),
 ('SKU001', 'Coimbra', Decimal('2022'), Decimal('4'), Decimal('12'), Decimal('2'), 2, Decimal('21.98')),
 ('SKU001', 'Lisboa', Decimal('2022'), Decimal('1'), Decimal('10'), Decimal('1'), 2, Decimal('21.98')),
 ('SKU001', 'Lisboa', Decimal('2022'), Decimal('2'), Decimal('15'), Decimal('2'), 1, Decimal('10.99')),
 ('SKU001', 'Porto', Decimal('2022'), Decimal('1'), Decimal('5'), Decimal('3'), 5, Decimal('54.95')),
 ('SKU002', 'Coimbra', Decimal('2022'), Decimal('3'), Decimal('20'), Decimal('0'), 2, Decimal('39.98')),
 ('SKU002', 'Coimbra', Decimal('2022'), Decimal('4'), Decimal('12'), Decimal('2'), 1, Decimal('19.99')),
 ('SKU002', 'Lisboa', Decimal('2022'), Decimal('1'), Decimal('10'), Decimal('1'), 1, Decimal('19.99')),
 ('SKU002', 'Lisboa', Decimal('2022'), Decimal('2'), Decimal('15'), Decimal('2'), 2, Decimal('39.98')),
 ('SKU002', 'Porto', Decimal('2022'), Decimal('1'), Decimal('5'), Decimal('3'), 3, Decimal('59.97')),
 ('SKU003', 'Braga', Decimal('2022'), Decimal('1'), Decimal('5'), Decimal('3'), 1, Decimal('5.99')),
 ('SKU003', 'Braga', Decimal('2022'), Decimal('3'), Decimal('20'), Decimal('0'), 1, Decimal('5.99')),
 ('SKU003', 'Braga', Decimal('2022'), Decimal('4'), Decimal('12'), Decimal('2'), 1, Decimal('5.99')),
 ('SKU003', 'Coimbra', Decimal('2022'), Decimal('3'), Decimal('20'), Decimal('0'), 4, Decimal('23.96')),
 ('SKU003', 'Coimbra', Decimal('2022'), Decimal('4'), Decimal('12'), Decimal('2'), 2, Decimal('11.98')),
 ('SKU003', 'Faro', Decimal('2022'), Decimal('1'), Decimal('10'), Decimal('1'), 1, Decimal('5.99')),
 ('SKU003', 'Faro', Decimal('2022'), Decimal('2'), Decimal('15'), Decimal('2'), 1, Decimal('5.99')),
 ('SKU003', 'Lisboa', Decimal('2022'), Decimal('2'), Decimal('15'), Decimal('2'), 3, Decimal('17.97')),
 ('SKU003', 'Porto', Decimal('2022'), Decimal('1'), Decimal('5'), Decimal('3'), 6, Decimal('35.94')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('1'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('2'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('3'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('4'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('6'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('7'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('8'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('9'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('11'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('12'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('13'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('14'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('15'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('16'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('17'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('18'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('19'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('20'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('21'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('22'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('23'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('24'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('25'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('26'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('27'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('28'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('29'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('30'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('1'), Decimal('31'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('1'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('2'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('3'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('4'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('5'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('6'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('7'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('8'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('9'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('10'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('11'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('12'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('13'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('14'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('16'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('17'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('18'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('19'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('20'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('21'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('22'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('23'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('24'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('25'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('26'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('27'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('2'), Decimal('28'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('1'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('2'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('3'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('4'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('5'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('6'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('7'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('8'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('9'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('10'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('11'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('12'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('13'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('14'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('15'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('16'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('17'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('18'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('19'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('21'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('22'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('23'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('24'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('25'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('26'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('27'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('28'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('29'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('30'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('3'), Decimal('31'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('1'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('2'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('3'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('4'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('5'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('6'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('7'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('8'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('9'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('10'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('11'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('13'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('14'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('15'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('16'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('17'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('18'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('19'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('20'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('21'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('22'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('23'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('24'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('25'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('26'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('27'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('28'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('29'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('4'), Decimal('30'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('1'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('2'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('3'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('4'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('5'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('6'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('7'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('8'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('9'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('10'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('11'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('12'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('13'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('14'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('15'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('16'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('17'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('18'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('19'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('20'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('21'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('22'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('23'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('24'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('25'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('26'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('27'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('28'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('29'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('30'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('5'), Decimal('31'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('1'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('2'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('3'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('4'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('5'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('6'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('7'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('8'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('9'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('10'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('11'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('12'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('13'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('14'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('15'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('16'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('17'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('18'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('19'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('20'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('21'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('22'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('23'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('24'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('25'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('26'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('27'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('28'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('29'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('6'), Decimal('30'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('1'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('2'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('3'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('4'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('5'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('6'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('7'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('8'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('9'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('10'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('11'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('12'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('13'), Decimal('3'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('14'), Decimal('4'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('15'), Decimal('5'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('16'), Decimal('6'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('17'), Decimal('0'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('18'), Decimal('1'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('19'), Decimal('2'), 0, Decimal('0')),
 (None, None, Decimal('2022'), Decimal('7'), Decimal('20'), Decimal('3'), 0, Decimal('0')),

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [98]:
%%sql
-- SELECT ...
SELECT
    EXTRACT(MONTH FROM d.date) AS month,
    EXTRACT(DOW FROM d.date) AS day_of_week,
    SUM(p.total_price) / COUNT(DISTINCT d.date) AS average_daily_sales
FROM
    date d
LEFT JOIN
    (
        SELECT
            o.date,
            SUM(c.qty * prod.price) AS total_price
        FROM
            orders o
        JOIN
            contains c ON o.order_no = c.order_no
        JOIN
            product prod ON c.SKU = prod.SKU
        JOIN
            pay pa ON o.order_no = pa.order_no
        WHERE
            EXTRACT(YEAR FROM o.date) = 2022
        GROUP BY
            o.date
    ) p ON d.date = p.date
GROUP BY
    EXTRACT(MONTH FROM d.date),
    EXTRACT(DOW FROM d.date)
ORDER BY
    EXTRACT(MONTH FROM d.date),
    EXTRACT(DOW FROM d.date);

*  postgresql://db:***@postgres/db
84 rows affected.

[(Decimal('1'), Decimal('0'), None),
 (Decimal('1'), Decimal('1'), Decimal('8.3940000000000000')),
 (Decimal('1'), Decimal('2'), None),
 (Decimal('1'), Decimal('3'), Decimal('37.7150000000000000')),
 (Decimal('1'), Decimal('4'), None),
 (Decimal('1'), Decimal('5'), None),
 (Decimal('1'), Decimal('6'), None),
 (Decimal('2'), Decimal('0'), None),
 (Decimal('2'), Decimal('1'), None),
 (Decimal('2'), Decimal('2'), Decimal('17.2350000000000000')),
 (Decimal('2'), Decimal('3'), None),
 (Decimal('2'), Decimal('4'), None),
 (Decimal('2'), Decimal('5'), None),
 (Decimal('2'), Decimal('6'), None),
 (Decimal('3'), Decimal('0'), Decimal('24.2275000000000000')),
 (Decimal('3'), Decimal('1'), None),
 (Decimal('3'), Decimal('2'), None),
 (Decimal('3'), Decimal('3'), None),
 (Decimal('3'), Decimal('4'), None),
 (Decimal('3'), Decimal('5'), None),
 (Decimal('3'), Decimal('6'), None),
 (Decimal('4'), Decimal('0'), None),
 (Decimal('4'), Decimal('1'), None),
 (Decimal('4'), Decimal('2'), Decimal('13.4875000000000000')),
 (Decimal('4'), Decimal('3'), None),
 (Decimal('4'), Decimal('4'), None),
 (Decimal('4'), Decimal('5'), None),
 (Decimal('4'), Decimal('6'), None),
 (Decimal('5'), Decimal('0'), None),
 (Decimal('5'), Decimal('1'), None),
 (Decimal('5'), Decimal('2'), None),
 (Decimal('5'), Decimal('3'), None),
 (Decimal('5'), Decimal('4'), None),
 (Decimal('5'), Decimal('5'), None),
 (Decimal('5'), Decimal('6'), None),
 (Decimal('6'), Decimal('0'), None),
 (Decimal('6'), Decimal('1'), None),
 (Decimal('6'), Decimal('2'), None),
 (Decimal('6'), Decimal('3'), None),
 (Decimal('6'), Decimal('4'), None),
 (Decimal('6'), Decimal('5'), None),
 (Decimal('6'), Decimal('6'), None),
 (Decimal('7'), Decimal('0'), None),
 (Decimal('7'), Decimal('1'), None),
 (Decimal('7'), Decimal('2'), None),
 (Decimal('7'), Decimal('3'), None),
 (Decimal('7'), Decimal('4'), None),
 (Decimal('7'), Decimal('5'), None),
 (Decimal('7'), Decimal('6'), None),
 (Decimal('8'), Decimal('0'), None),
 (Decimal('8'), Decimal('1'), None),
 (Decimal('8'), Decimal('2'), None),
 (Decimal('8'), Decimal('3'), None),
 (Decimal('8'), Decimal('4'), None),
 (Decimal('8'), Decimal('5'), None),
 (Decimal('8'), Decimal('6'), None),
 (Decimal('9'), Decimal('0'), None),
 (Decimal('9'), Decimal('1'), None),
 (Decimal('9'), Decimal('2'), None),
 (Decimal('9'), Decimal('3'), None),
 (Decimal('9'), Decimal('4'), None),
 (Decimal('9'), Decimal('5'), None),
 (Decimal('9'), Decimal('6'), None),
 (Decimal('10'), Decimal('0'), None),
 (Decimal('10'), Decimal('1'), None),
 (Decimal('10'), Decimal('2'), None),
 (Decimal('10'), Decimal('3'), None),
 (Decimal('10'), Decimal('4'), None),
 (Decimal('10'), Decimal('5'), None),
 (Decimal('10'), Decimal('6'), None),
 (Decimal('11'), Decimal('0'), None),
 (Decimal('11'), Decimal('1'), None),
 (Decimal('11'), Decimal('2'), None),
 (Decimal('11'), Decimal('3'), None),
 (Decimal('11'), Decimal('4'), None),
 (Decimal('11'), Decimal('5'), None),
 (Decimal('11'), Decimal('6'), None),
 (Decimal('12'), Decimal('0'), None),
 (Decimal('12'), Decimal('1'), None),
 (Decimal('12'), Decimal('2'), None),
 (Decimal('12'), Decimal('3'), None),
 (Decimal('12'), Decimal('4'), None),
 (Decimal('12'), Decimal('5'), None),
 (Decimal('12'), Decimal('6'), None)]

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no
FROM orders 
JOIN contains USING (order_no) 
JOIN product USING (SKU) 
WHERE price > 50 AND 
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

CREATE INDEX idx_product_price ON product USING BTREE (price);

- Como estamos a usar um operador de comparação com o preço (>) é apropriado criar um índice para o atributo preço da tabela product do tipo btree, já que esta estrutura permite chegar rapidamente aos dados que são maiores que X visto que ela se organiza exatamente por comparações entre os valores dos nós.
- Estariamos a otimizar a operação: WHERE price > 50 
- Não pode ser um hash visto que não suporta operações de range


CREATE INDEX idx_orders_date ON orders USING BTREE (date);

- Usar uma btree para o atributo date da tabela orders também nos ajudará a isolar rapidamente a secção dos dados que proucuramos. Hash Tble neste caso só seria util se fosse possível indexar o ano da data diretamente e não a data completa, pois não é por ela que vamos proucurar.
- Estariamos a otimizar a operação: EXTRACT(YEAR FROM date) = 2023

CREATE INDEX idx_contains_sku_order ON contains (order_no, SKU);

- Ao criar um index sobre o SKU e order_no, estaremos a otimizar o JOIN entre as três tabelas.
- order_no vem primeiro pois devemos criar o índice por ordem de seletividade visto que tem maior seletividade do que o SKU, visto que cada encomenda é mais específica do que os produtos da loja (não sei bem se isto está certo)

### 6.2
SELECT order_no, SUM(qty*price)
FROM contains 
JOIN product USING (SKU) 
WHERE name LIKE ‘A%’ 
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

CREATE INDEX idx_product_name ON product USING BTREE (name);
- Indexar o atributo name da tabela product com uma btree ajuda-nos a encontar rapidamente as entradas que começam por A já que esta estrutura esta ordenada por ordem lexiconogtráfica
- BTREE é o indicado pois o % só aparece no fim da string (sabemos qual o prefixo)

CREATE INDEX idx_contains_sku ON contains USING BTREE(SKU);
- Indexar o atributo SKU da tabela contains com uma btree ajuda a otimizar o JOIN entre as tabelas contains e product
- Torna mais fácil o acesso aos registos com base no atributo SKU